.navbar {
	width: 100%;
	background-color: #002242;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(255, 255, 255);
	z-index: 50;
	padding: 1rem;
}

.navbar_logo h2 {
	font-size: 1.4rem;
	font-weight: bold;
	cursor: pointer;
	text-decoration-line: underline;
}

.hamburger_menu {
	width: 30px;
	height: 30px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	margin: 0 2rem;
}

.hamburger_menu > div {
	width: 100%;
	height: 3px;
	background: #ffffff;
}

.hamburger_menu:hover > div {
	background: #666566;
}

@media (max-width: 960px) {
	.hamburger_menu {
		display: flex;
	}
}

@media (max-width: 500px) {
	.navbar_logo h2 {
		font-size: 1rem;
	}
}
